        <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
        <nav>
            <ul>
                <a href="https://open.spotify.com/playlist/6wb5EFyzIUipLE6GZTLLDy" title="spotify" target="_blank" rel="noopener"><li><i class="lni lni-spotify"></i></li></a>
                <a href="https://music.apple.com/nl/artist/cheeses-of-mexico/626277090?l=en-GB" title="apple" target="_blank" rel="noopener"><li><i class="lni lni-music"></i></li></a>
                <a href="https://youtube.com/@cheesesofmexico" title="youtube" target="_blank" rel="noopener"><li><i class="lni lni-youtube"></i></li></a>
                <a href="https://instagram.com/cheesesofmexico" title="instagram" target="_blank" rel="noopener"><li><i class="lni lni-instagram"></i></li></a>
                <a href="https://facebook.com/cheesesofmexico" title="facebook" target="_blank" rel="noopener"><li><i class="lni lni-facebook"></i></li></a>
                <a href="https://twitter.com/cheesesofmexico" title="twitter" target="_blank" rel="noopener"><li><i class="lni lni-twitter"></i></li></a>
            </ul>
        </nav>