        <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
        <nav>
            <ul>
                <a href="https://open.spotify.com/artist/07MiPHFApChVJZu5nydXSP?si=TUl0gFEgTKquAYmdCuB4XA" title="spotify"><li><i class="lni lni-spotify"></i></li></a>
                <a href="https://music.apple.com/nl/artist/cheeses-of-mexico/626277090?l=en-GB" title="apple"><li><i class="lni lni-music"></i></li></a>
                <a href="https://instagram.com/cheesesofmexico" title="instagram"><li><i class="lni lni-instagram"></i></li></a>
                <a href="https://facebook.com/cheesesofmexico" title="facebook"><li><i class="lni lni-facebook"></i></li></a>
                <a href="https://twitter.com/cheesesofmexico" title="twitter"><li><i class="lni lni-twitter"></i></li></a>
            </ul>
        </nav>