body {
  font-family: "Rubik", Arial, sans-serif;
  display: grid;
  font-weight: 500;
  /* flex-direction: column; */
  background: url(../img/bee2.png);
  background-repeat: repeat-y;
  background-position-x: center;
  justify-items: center;
}
header {
  background-color: unset;
}
h1 {
  color: #104dfc;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4em;
}

main {
  background-color: rgba(255, 255, 255, 0.5);
  justify-self: center;
  width: 80vw;
}

.intro {
  text-align: center;
}

.intro a {
  color: #104dfc;
  background-color: white;
  transition: all linear 200ms;
  border-radius: 5px;
  padding: 0 1em;
}

.intro a:hover {
  color: #012da8;
  background-color: rgb(176, 176, 176);
  transition: all linear 200ms;
  border-radius: 5px;
}

.album img {
  width: 400px;
}

.album a {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
  padding: 1em;
  background-color: white;
  text-decoration: none;
  color: #03907e;
}

.album a:hover {
  padding: 1em;
  color: #025d51;
  text-decoration: underline;
  background-color: white;
}

.album p {
  text-align: center;
}

.albums {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 850px) {
  article.album {
    filter: blur(2px);
    transition: all linear 300ms;
  }

  .albums {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .albums img {
    width: 100%;
  }

  article.album:hover {
    filter: blur(0);
    transition: all linear 300ms;
  }
}
iframe {
  height: 340px;
  width: 100%;
}

@media (max-width: 850px) {
  body {
    overflow-x: hidden;
  }

  iframe {
    width: 100vw;
  }
  main {
    width: 100vw;
  }
  .album {
    width: 300px;
  }

  .album img {
    width: 100%;
  }
}

@media (max-width: 650px) {
  iframe {
    width: 100vw;
  }
  main {
    width: 100vw;
  }
  .album {
    width: 100vw;
  }

  .album img {
    width: 100%;
  }
}
