body {
  background: url('../img/cardboard_flat_dark.png');
/*  padding-top: 60px;  60px to make the container go all the way to the bottom of the topbar 
*/  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  color: #cdcdcd;
}

.circle {
  background-image: -moz-linear-gradient(top, rgba(255, 246, 213, 0.85), rgba(255, 246, 213,0.85)), url('../img/cheese_texture.jpg');
  background-image: -webkit-linear-gradient(top, rgba(255, 246, 213, 0.85), rgba(255, 246, 213,0.85)), url('../img/cheese_texture.jpg');
  background-image: -o-linear-gradient(top, rgba(255, 246, 213, 0.85), rgba(255, 246, 213,0.85)), url('../img/cheese_texture.jpg');
  background-image: linear-gradient(top, rgba(255, 246, 213, 0.85), rgba(255, 246, 213,0.85)), url('../img/cheese_texture.jpg');
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-left:80px;
  margin-top:100px;
}

.circle img{
  margin-top: 50px;
  margin-left: -10px;
  max-width: 110%;
}

.large h1{
  font-size: 6em;
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-style: italic;
  text-shadow: 5px 5px 0 #222;
  text-transform: uppercase;
}

.cheeses h1{
  color: rgba(255, 128, 128, 1);
  letter-spacing: 0.2em;
  padding-top: 100px;
  /*margin-left: -100px;*/
}

.mexico h1{
  color: rgba(135, 222, 205, 1);
  letter-spacing: 0.3em;
}

.of{
  font-family: serif;
  color: #333;
  font-size: 4em;
  padding-left: 50px;
  margin-top: -30px;
}

.rotate{
  /*position: absolute;*/
  margin-left: -20px;
  margin-bottom: 100px;
  -webkit-transform: rotate(-7deg); 
  -moz-transform:    rotate(-7deg); 
  -ms-transform:     rotate(-7deg); 
  -o-transform:      rotate(-7deg);
  /* Rotate from top left corner (not default) */
  -webkit-transform-origin: 0 0;
  -moz-transform-origin:    120px 0;
  -ms-transform-origin:     0 0;
  -o-transform-origin:      0 0;
}

.social{
  text-align: center;
}

.social img{
  background: #212121;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 1em;
}

h2{
  text-transform: lowercase;
}




background-image: url(IMAGE_URL), -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999)); /* Saf4+, Chrome */
background-image: url(IMAGE_URL), -webkit-linear-gradient(top, #444444, #999999); /* Chrome 10+, Saf5.1+ */
background-image: url(IMAGE_URL),    -moz-linear-gradient(top, #444444, #999999); /* FF3.6+ */
background-image: url(IMAGE_URL),     -ms-linear-gradient(top, #444444, #999999); /* IE10 */
background-image: url(IMAGE_URL),      -o-linear-gradient(top, #444444, #999999); /* Opera 11.10+ */
background-image: url(IMAGE_URL),         linear-gradient(top, #444444, #999999); /* W3C */
